/*Estilos del footer*/
@import "../utilities/_variables.scss";

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $background-header;
    padding: 30px;
    margin-top: 0;

    .caja-1{
        display: flex;
        align-items: center;
       .img-pie-de-pagina {
        width: 50px;

       } 
       h3 {
        color: $text-color-header;
        font-family: $font-general;
        font-weight: bold;
        font-size: 15px;

       }

       &:hover {
        background-color: rgb(150, 103, 196);
        border-radius: 10px;
       }
    }
    .caja-2 {
        display: flex;
        align-items: center;
        .img-pie-de-pagina {
            width: 50px;
        }
        h3 {
            color: $text-color-header;
            font-family: $font-general;
            font-weight: bold;
            font-size: 15px;
        }
    }
    .caja-3 {

        .img-pie-de-pagina {
            padding: 5px;
            width: 60px;
        }

}
}
