/*Estilos del footer*/
@import "../utilities/_variables.scss";

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $background-header;
    padding: 20px;
    margin-top: 20px;

    .caja-1{
       .img-pie-de-pagina {
        width: 50px;

       } 
       h3 {
        color: $text-color-header;
        font-family: $font-general;
        font-weight: bold;
        font-size: 15px;

       }
    }
    .caja-2 {
        .img-pie-de-pagina {
            width: 50px;
        }
        h3 {
            color: $text-color-header;
            font-family: $font-general;
            font-weight: bold;
            font-size: 15px;
        }
    }
    .caja-3 {
        display: flex;

        .img-pie-de-pagina {
            width: 50px;
        }
        h3 {
            color: $text-color-header;
            font-family: $font-general;
            font-weight: bold;
            font-size: 15px;
        }
    }


}