footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(198, 149, 245);
    padding: 20px;
    margin-top: 20px;

    .caja-1{
       .img-pie-de-pagina {
        width: 50px;

       } 
       h3 {
        color: rgb(24, 20, 20);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 15px;

       }
    }
    .caja-2 {
        .img-pie-de-pagina {
            width: 50px;
        }
        h3 {
            color: rgb(24, 20, 20);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            font-size: 15px;
        }
    }
    .caja-3 {
        display: flex;

        .img-pie-de-pagina {
            width: 50px;
        }
        h3 {
            color: rgb(24, 20, 20);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            font-size: 15px;
        }
    }


}