@import "../utilities/_variables.scss";
/* Estilos del header*/

header {
    .seccion-frase {
        background-color: $background-header;
        .frase-encabezado {
            color: $text-color-header;
            font-family: $font-general;
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            padding: 15px;
            margin: 0;
        }
    }
    

    /* Título principal y el logo de Alicia*/

    .tituloprincipal-logo-alicia{
        background-color: $background-header;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        padding: 50px;

        background-image: url(../assets/Imagenes/polvo-rosa.jpg);
        background-size: cover;
        background-position: center;

        .img-ceramica-4-elementos {
            padding-right: 20px;
            width: 150px;
        }
        .titulo-principal {
            color: $text-color-header;
            font-family: $font-general;
            font-size: 25px;
            font-weight: bold;
        
        
        }
    }

    nav {
        background-color: $background-header;
        
        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            justify-content: space-around;
            
        a{
            color: $text-color-header;
            text-decoration: none;
            font-weight: 500;
            font-family: $font-general;
            margin: 15px;
        }
    }

}
}

/* --- ESTILOS PARA MÓVIL (Por defecto) --- */
header {
    .tituloprincipal-logo-alicia {
        flex-direction: column; // Apilado en celular
        text-align: center;
        padding: 20px;
        
        .img-ceramica-4-elementos {
            width: 100px;
        }
    }

    /* --- MEDIA QUERY PARA ESCRITORIO --- */
    /* Cuando la pantalla sea más grande que 768px, cambia el diseño */
    @media (min-width: 768px) {
        .tituloprincipal-logo-alicia {
            flex-direction: row; // Uno al lado del otro en PC
            justify-content: flex-start;
            padding: 50px;

            .img-ceramica-4-elementos {
                width: 150px;
            }
        }
    }
}