/* Estilos del header*/

header {
    .seccion-frase {
        background-color: rgb(198, 149, 245);
        .frase-encabezado {
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            padding: 10px;
        }
    }
    

    /* Título principal y el logo de Alicia*/

    .tituloprincipal-logo-alicia{
        display: flex;
        justify-content: center;
        padding: 20px;
        background-color: 
        rgb(198, 149, 245);
        background-image: url(../assets/Imagenes/bowls.png);

        .img-ceramica-4-elementos{
            width: 100px;
        }
        .titulo-principal{
            color: rgb(24, 20, 20);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20px;
            font-weight: bold;
        
        
        }
    }
    nav {
        background-color: rgb(107, 43, 167);
        ul {
            display: flex;
            list-style: none;
            padding: 5px;
            
        a{
            color: white;
            text-decoration: none;
            font-weight: 500;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 15px;
        }
    }

}
}