/*Estilos del main de quien soy*/
.main-quiensoy {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 0px;
    background-color: rgb(198, 149, 245);
    

    .img-alicia {
        width: 200px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .titulo-quiensoy {
        color: rgb(253, 250, 250);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 35px;
        margin-bottom: 20px;
    }
    .texto-quiensoy {
        color: rgb(247, 241, 241);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.6;
        max-width: 800px;
        text-align: justify;
    }
}