.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 0px;
    background-color: rgb(198, 149, 245);

    #todo-lo-que-tenemos {
     color: rgb(253, 250, 250);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 35px;
        margin-bottom: 20px;
    }
    .carousel-item img {
        width: 200px;

}
}