/*Estilos del main talleres*/
.main-talleres {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: rgb(198, 149, 245);
    margin: 0px;

    .titulo-talleres {
        color: rgb(250, 246, 246);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 35px;
        margin-bottom: 20px; 
    }
    .texto-talleres {
        color: rgb(252, 247, 247);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.6;
        max-width: 800px;
        text-align: center;
        padding-bottom: 20px;
    }

    /*Seccion de imagenes de talleres*/

    .section-imagenes-talleres {

 
       /*titulo imagenes de los talleres */
        .titulo-imagenes-talleres {
            color: rgb(250, 246, 246);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            font-size: 25px;
            margin-left: 10px;

        }

        .div-principal-fotos {
          
            display: grid;
            display: flex;
            flex-direction: column;
            align-items: center;
        
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas: "foto-talleres-1 foto-talleres-2" 
                                 "foto-talleres-3 foto-talleres-3"
                                 ;
            gap: 15px;
            padding: 10px;

            .foto-talleres-1 {
                grid-area: foto-talleres-1;
            }

            .foto-talleres-2 {
                grid-area: foto-talleres-2;
            }

            .foto-talleres-3 {
                grid-area: foto-talleres-3;
            }
            
             .foto-talleres-1, .foto-talleres-2, .foto-talleres-3 {
                width: 80%;
                border-radius: 10px;
            }
        }


        
            
        
    }
}