.main-index {
    padding: 20px;
    #todo-lo-que-tenemos {
        color: rgb(24, 20, 20);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 35px;
        text-align: center;
        margin-bottom: 20px;
    }
    .carousel-item img {
        width: 50%;
        
}
}