.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 0px;
    background-color: rgb(198, 149, 245);

    .bienvenida-index {
        color: white;
        text-align: center;
        margin-bottom: 20px;

        .titulo-bienvenida {
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .parrafo-bienvenida {
            font-size: 1.2rem;
            max-width: 600px;
            margin: 0 auto;
        }

    }

    .div-productos-artesanales {
    .subtitulo-index {
        font-size: 2rem;
        color: white;
        text-align: left;
    }
    .a-pedido {
        text-decoration: none;
        color: yellow;
        font-weight: bold;
        background-color: rgb(123, 63, 247);
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgb(223, 41, 183);
        }

        /*Enlace a la pagina de productos artesanales*/

        .enlace-producto {

            .ejemplo-producto {
            width: 40px;
            margin-top: 20px;
            border-radius: 10px;
       } 
        }



    }


}

/*div talleres y fotos varias*/

    .div-talleres{
        display: flex;
        justify-content: center;
        align-items: center;

        .subtitulo-index {
            font-size: 2rem;
            color: white;
            text-align: center;
        }
        .parrafo-talleres {
            font-size: 1.2rem;
            color: white;
        }
        .foto-talleres {
            width: 30%;
            margin-top: 20px;
            border-radius: 10px;
        }
    }

    /*div ejemplos de piezas*/

    .div-ejemplos {
        display:flex;
        justify-content: center;
        align-items: center;


        .subtitulo-index {
            font-size: 2rem;
            color: white;
            text-align: center;
        }
        .img-taza, .img-jabonera, .img-imanes {
            width: 20%;
            margin: 10px;
            border-radius: 10px;
        }
    }


}
